<div class="mt-4 content">
  <h1>About Quapp</h1>
  <p>Quapp is a simple question and answer app dedicated to sharing information. I originally developed it as part of a
    creative day project to explore the possibility of using .NET 5 and Angular. I based a lot of it on StackOverflow.
    When the day was over, I had a simple
    version of the app up and running, but I enjoyed programming with the chosen tech stack so much that I decided to
    make it into a full app!</p>

  <h2>FAQ</h2>
  <p>Below you'll find some interesting information.</p>

  <h3>Why "QUAPP?"</h3>
  <p>Quapp stands for <b>Qu</b>estion <b>A</b>nswer A<b>pp</b>lication. Saying "Quapp" out loud also sounds kind of like
    "Quack." See the next question.</p>

  <h3>Why a duck?</h3>
  <p>I really like the concept of <a href="https://en.wikipedia.org/wiki/Rubber_duck_debugging">rubber duck
      debugging</a>. Sometimes it really is helpful to just talk through the problem out loud. At one of my old jobs my
    co-workers and I used to use each other as rubber ducks very often. We even got our boss to buy ducks with the
    company logo on them. Also, ducks are awesome.</p>

  <h3>How can I use Quapp?</h3>
  <p>I think Quapp is best deployed as an additional documentation resource. Instead of having team members ask
    questions in a company Slack/Discord/Skype channel where the answers will become lost in the never-ending sea of
    chat content, users can post their questions into Quapp where another team member can answer. Instead of creating a
    massive "how to code for our product" document that you need to remember to keep up to date, you can have team
    members ask their question if they couldn't find an answer. In my opinion it's easier to answer a question someone
    is actively asking than to remember to go some documentation.</p>

  <h3>I'd like to see some enhancements or found a bug. What do I do?</h3>
  <p>Please feel free to create a pull request or open an issue on <a
      href="https://github.com/MichaelBluetooth/quap">GitHub!</a></p>

</div>
