 <div class="overlay"></div>
 <div class="wrapper is-flex is-justify-content-center">
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{title}}</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      {{body}}
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="confirm.next()">Yes</button>
      <button class="button" (click)="cancel.next()">No</button>
    </footer>
  </div>
</div>